APP_NAME="BIO-Notifier"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost
CENTRAL_DOMAIN=localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=bio_notifier
DB_USERNAME=postgres
DB_PASSWORD=

BROADCAST_CONNECTION=log
CACHE_STORE=database
DB_CACHE_CONNECTION="${DB_CONNECTION}"
QUEUE_CONNECTION=database
DB_QUEUE_CONNECTION="${DB_CONNECTION}"
SESSION_DRIVER=database
SESSION_CONNECTION=pgsql
SESSION_LIFETIME=120

WHATSAPP_INSTANCE_NAME="bio_notifier"
WHATSAPP_API_KEY=""
